## Ansible controlled file
# Added as part of CIS
# provided by Mindpoint Group - A Tyto Athene Company / Ansible Lockdown

# Lock desktop media-handling automount setting
/org/gnome/desktop/media-handling/automount

# Lock desktop media-handling automount-open
/org/gnome/desktop/media-handling/automount-open
