{{ file_managed_by_ansible }}

# Lock desktop media-handling automount setting
/org/gnome/desktop/media-handling/automount

# Lock desktop media-handling automount-open
/org/gnome/desktop/media-handling/automount-open
