## Ansible controlled file
# Added as part of CIS
# provided by MindPointGroup LLC

# Lock desktop screensaver idle-delay setting
/org/gnome/desktop/session/idle-delay

# Lock desktop screensaver lock-delay setting
/org/gnome/desktop/screensaver/lock-delay
