# File created for CIS benchmark
# CIS rule 6_2_1_1_3
[Journal]
SystemMaxUse={{ ubtu22cis_journald_systemmaxuse }}
SystemKeepFree={{ ubtu22cis_journald_systemkeepfree }}
RuntimeMaxUse={{ ubtu22cis_journald_runtimemaxuse }}
RuntimeKeepFree={{ ubtu22cis_journald_runtimekeepfree }}
MaxFileSec={{ ubtu22cis_journald_maxfilesec }}
