# File created for CIS benchmark
[Journal]
{% if ubtu22cis_rule_6_2_1_1_5 %}
# Set persistent storage CIS rule 6_2_1_1_5
Storage=persistent
{% endif %}

{% if ubtu22cis_rule_6_2_1_1_6 %}
# Set compress CIS rule 6_2_1_1_6
Compress=yes
{% endif %}
