---

- name: Remount tmp
  ansible.posix.mount:
      path: /tmp
      state: remounted

- name: Remount var
  ansible.posix.mount:
      path: /var
      state: remounted

- name: Remount var_tmp
  ansible.posix.mount:
      path: /var/tmp
      state: remounted

- name: Remount var_log
  ansible.posix.mount:
      path: /var/log
      state: remounted

- name: Remount var_log_audit
  ansible.posix.mount:
      path: /var/log/audit
      state: remounted

- name: Remount home
  ansible.posix.mount:
      path: /home
      state: remounted

- name: Remount dev_shm
  ansible.posix.mount:
      path: /dev/shm
      src: /dev/shm
      state: remounted

- name: Grub update
  ansible.builtin.shell: update-grub
  failed_when: false

- name: Restart timeservice
  ansible.builtin.systemd:
      name: "{{ ubtu22cis_time_sync_tool }}"
      state: restarted

- name: Reload systemctl
  ansible.builtin.systemd:
      daemon_reload: true

- name: Update dconf
  ansible.builtin.shell: dconf update
  failed_when: false

- name: Restart postfix
  ansible.builtin.service:
      name: postfix
      state: restarted

- name: Restart syslog service
  ansible.builtin.systemd:
      name: "{{ ubtu22cis_syslog_service }}"
      state: restarted

- name: Restart journald
  ansible.builtin.systemd:
      name: systemd-journald
      state: restarted

- name: Restart exim4
  ansible.builtin.systemd:
      name: exim4
      state: restarted

- name: Flush ipv4 route table
  ansible.posix.sysctl:
      name: net.ipv4.route.flush
      value: '1'
      sysctl_set: true
  when: ansible_virtualization_type != "docker"

- name: Flush ipv6 route table
  ansible.posix.sysctl:
      name: net.ipv6.route.flush
      value: '1'
      sysctl_set: true
  when: ansible_virtualization_type != "docker"

- name: Reload ufw
  community.general.ufw:
      state: reloaded

- name: Iptables persistent
  ansible.builtin.shell: bash -c "iptables-save > /etc/iptables/rules.v4"
  changed_when: ubtu22cis_iptables_save.rc == 0
  failed_when: ubtu22cis_iptables_save.rc > 0
  register: ubtu22cis_iptables_save

- name: Ip6tables persistent
  ansible.builtin.shell: bash -c "ip6tables-save > /etc/iptables/rules.v6"
  changed_when: ubtu22cis_ip6tables_save.rc == 0
  failed_when: ubtu22cis_ip6tables_save.rc > 0
  register: ubtu22cis_ip6tables_save

- name: Auditd rules reload
  ansible.builtin.shell: augenrules --load
  when:
      - '"No change" not in ubtu22cis_rule_4_1_3_21_augen_check.stdout'

- name: Auditd_immutable_check
  ansible.builtin.shell: grep -c "^-e 2" /etc/audit/rules.d/99_auditd.rules
  changed_when: false
  register: auditd_immutable_check

- name: Audit_immutable_fact
  ansible.builtin.debug:
      msg: "Reboot required for auditd to apply new rules as immutable set"
  notify: change_requires_reboot
  when:
      - auditd_immutable_check.stdout == '1'

- name: Restart auditd
  ansible.builtin.shell: service auditd restart
  when:
      - audit_rules_updated.changed or
        rule_4_1_2_1.changed or
        rule_4_1_2_2.changed or
        rule_4_1_2_3.changed
  tags:
      - skip_ansible_lint

- name: remount tmp
  ansible.builtin.shell: mount -o remount /tmp

- name: restart sshd
  ansible.builtin.systemd:
      name: sshd
      state: restarted

- name: reload gdm
  ansible.builtin.shell: dpkg-reconfigure gdm3

- name: change_requires_reboot
  ansible.builtin.set_fact:
      change_requires_reboot: true
