## Ansible controlled file
# Added as part of ansible-lockdown CIS baseline
# provided by Mindpoint Group - A Tyto Athene Company / Ansible Lockdown

# Set umask with highest precedence

umask {{ ubtu22cis_bash_umask }}
