## Ansible controlled file
# Added as part of ansible-lockdown CIS baseline
# provided by Mindpoint Group - A Tyto Athene Company / Ansible Lockdown

{% for pool in ubtu22cis_time_pool %}
pool {{ pool.name }} {{ pool.options }}
{% endfor %}
