## Ansible controlled file
# Added as part of ansible-lockdown CIS baseline
# provided by MindPointGroup LLC

{% for pool in ubtu22cis_time_pool %}
pool {{ pool.name }} {{ pool.options }}
{% endfor %}
