# CIS Configurations
# 5.3.3.2.3 Ensure password complexity is configured
minclass = {{ ubtu22cis_passwd_minclass }}
dcredit = {{ubtu22cis_passwd_dcredit }}
ucredit = {{ ubtu22cis_passwd_ucredit }}
ocredit = {{ ubtu22cis_passwd_ocredit }}
lcredit = {{ ubtu22cis_passwd_lcredit }}
