[Unit]
Description=Aide check

[Timer]
OnCalendar={{ ubtu22cis_aide_cron.aide_day | default(ubtu22cis_aide_systemd_day, true) }}-{{ ubtu22cis_aide_cron.aide_month | default(ubtu22cis_aide_systemd_month, true) }}-{{ ubtu22cis_aide_cron.aide_weekday | default(ubtu22cis_aide_systemd_weekday, true) }} {{ ubtu22cis_aide_cron.aide_hour | default(ubtu22cis_aide_systemd_hour, true) }}:{{ ubtu22cis_aide_cron.aide_minute | default(ubtu22cis_aide_systemd_minute, true) }}:00
Unit=aidecheck.service

[Install]
WantedBy=multi-user.target
