---

- name: "1.8.1 | PATCH | Ensure GNOME Display Manager is removed"
  ansible.builtin.package:
      name: gdm3
      state: absent
  when:
      - ubtu22cis_rule_1_8_1
      - not ubtu22cis_desktop_required
      - ubtu22cis_disruption_high
      - "'gdm3' in ansible_facts.packages"
  tags:
      - level2-server
      - manual
      - patch
      - rule_1.8.1
      - gnome

- name: "1.8.2 | PATCH | Ensure GDM login banner is configured"
  block:
      - name: "1.8.2 | PATCH | Ensure GDM login banner is configured | make directory"
        ansible.builtin.file:
            path: "/etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d"
            owner: root
            group: root
            mode: '0755'
            state: directory

      - name: "1.8.2 | PATCH | Ensure GDM login banner is configured | banner settings"
        ansible.builtin.lineinfile:
            path: "/etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d/00-login-screen"
            regexp: "{{ item.regexp }}"
            line: "{{ item.line }}"
            insertafter: "{{ item.insertafter }}"
            create: true
            owner: root
            group: root
            mode: '0644'
        loop:
            - { regexp: '\[org\/gnome\/login-screen\]', line: '[org/gnome/login-screen]', insertafter: EOF }
            - { regexp: 'banner-message-enable', line: 'banner-message-enable=true', insertafter: '\[org\/gnome\/login-screen\]'}
            - { regexp: 'banner-message-text', line: "banner-message-text='{{ ubtu22cis_warning_banner | regex_replace('\n', ' ') | trim }}'", insertafter: 'banner-message-enable' }
  notify: Update dconf
  when:
      - ubtu22cis_rule_1_8_2
      - ubtu22cis_desktop_required
  tags:
      - level1-server
      - level1-workstation
      - automated
      - patch
      - rule_1.8.2
      - gnome

- name: "1.8.3 | PATCH | Ensure disable-user-list is enabled"
  block:
      - name: "1.8.3 | PATCH | Ensure disable-user-list is enabled | make directories"
        ansible.builtin.file:
            path: "{{ item }}"
            owner: root
            group: root
            mode: '0755'
            state: directory
        loop:
            - /etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d
            - /etc/dconf/profile

      - name: "1.8.3 | PATCH | Ensure disable-user-list is enabled | disable-user-list setting login-screen"
        ansible.builtin.lineinfile:
            path: "/etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d/00-login-screen"
            regexp: "{{ item.regexp }}"
            line: "{{ item.line }}"
            insertafter: "{{ item.insertafter }}"
            create: true
            owner: root
            group: root
            mode: '0644'
        loop:
            - { regexp: '\[org\/gnome\/login-screen\]', line: '[org/gnome/login-screen]', insertafter: EOF }
            - { regexp: 'disable-user-list', line: 'disable-user-list=true', insertafter: '\[org\/gnome\/login-screen\]'}

      - name: "1.8.3 | PATCH | Ensure disable-user-list is enabled | disable-user-list setting profile"
        ansible.builtin.lineinfile:
            path: "/etc/dconf/profile/{{ ubtu22cis_dconf_db_name }}"
            regexp: "{{ item.regexp }}"
            line: "{{ item.line }}"
            insertafter: "{{ item.insertafter }}"
            create: true
            owner: root
            group: root
            mode: '0644'
        loop:
            - { regexp: '^user-db:user', line: 'user-db:user', insertafter: EOF }
            - { regexp: '^system-db:{{ ubtu22cis_dconf_db_name }}', line: 'system-db:{{ ubtu22cis_dconf_db_name }}', insertafter: 'user-db:user'}
            - { regexp: '^file-db:/usr/share/gdm/greeter-dconf-defaults', line: 'file-db:/usr/share/gdm/greeter-dconf-defaults', insertafter: 'system-db:{{ ubtu22cis_dconf_db_name }}'}
  notify: Update dconf
  when:
      - ubtu22cis_rule_1_8_3
      - ubtu22cis_desktop_required
  tags:
      - level1-server
      - level1-workstation
      - automated
      - patch
      - rule_1.8.3
      - gnome

- name: "1.8.4 | PATCH | Ensure GDM screen locks when the user is idle"
  block:
      - name: "1.8.4 | PATCH | Ensure GDM screen locks when the user is idle | session profile"
        ansible.builtin.lineinfile:
            path: "/etc/dconf/profile/{{ ubtu22cis_dconf_db_name }}"
            regexp: "{{ item.regexp }}"
            line: "{{ item.line }}"
            insertafter: "{{ item.after | default(omit) }}"
            create: true
        loop:
            - { regexp: 'user-db:user', line: 'user-db:user' }
            - { regexp: 'system-db:{{ ubtu22cis_dconf_db_name }}', line: 'system-db:{{ ubtu22cis_dconf_db_name }}', after: '^user-db.*' }

      - name: "1.8.4 | PATCH | Ensure GDM screen locks when the user is idle | make directory"
        ansible.builtin.file:
            path: "/etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d"
            owner: root
            group: root
            mode: '0755'
            state: directory
        notify: Update dconf

      - name: "1.8.4 | PATCH | Ensure GDM screen locks when the user is idle | session script"
        ansible.builtin.template:
            src: etc/dconf/db/00-screensaver.j2
            dest: "/etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d/00-screensaver"
            owner: root
            group: root
            mode: '0644'
        notify: Update dconf
  when:
      - ubtu22cis_rule_1_8_4
      - ubtu22cis_desktop_required
  tags:
      - level1-server
      - level1-workstation
      - automated
      - patch
      - rule_1.8.4
      - gnome

- name: "1.8.5 | PATCH | Ensure GDM screen locks cannot be overridden"
  block:
      - name: "1.8.5 | PATCH | Ensure GDM screen locks cannot be overridden | make lock directory"
        ansible.builtin.file:
            path: "/etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d/locks"
            owner: root
            group: root
            mode: '0755'
            state: directory
        notify: Update dconf

      - name: "1.8.5 | PATCH | Ensure GDM screen locks cannot be overridden | make lockfile"
        ansible.builtin.template:
            src: etc/dconf/db/00-screensaver_lock.j2
            dest: "/etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d/locks/00-screensaver"
            owner: root
            group: root
            mode: '0644'
        notify: Update dconf
  when:
      - ubtu22cis_rule_1_8_5
      - ubtu22cis_desktop_required
  tags:
      - level1-server
      - level1-workstation
      - automated
      - patch
      - rule_1.8.5
      - gnome

- name: "1.8.6 | PATCH | Ensure GDM automatic mounting of removable media is disabled"
  block:
      - name: "1.8.6 | PATCH | Ensure GDM automatic mounting of removable media is disabled | make directory"
        ansible.builtin.file:
            path: "/etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d"
            owner: root
            group: root
            mode: '0755'
            state: directory
        notify: Update dconf

      - name: "1.8.6 | PATCH | Ensure GDM automatic mounting of removable media is disabled | session script"
        ansible.builtin.template:
            src: etc/dconf/db/00-media-automount.j2
            dest: "/etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d/00-media-automount"
            owner: root
            group: root
            mode: '0644'
        notify: Update dconf
  when:
      - ubtu22cis_rule_1_8_6
      - ubtu22cis_desktop_required
  tags:
      - level1-server
      - level2-workstation
      - automated
      - patch
      - rule_1.8.6
      - gnome

- name: "1.8.7 | PATCH | Ensure GDM disabling automatic mounting of removable media is not overridden"
  block:
      - name: "1.8.7 | PATCH | Ensure GDM disabling automatic mounting of removable media is not overridden | make lock directory"
        ansible.builtin.file:
            path: "/etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d/locks"
            owner: root
            group: root
            mode: '0755'
            state: directory
        notify: Update dconf

      - name: "1.8.7 | PATCH | Ensure GDM disabling automatic mounting of removable media is not overridden | make lockfile"
        ansible.builtin.template:
            src: etc/dconf/db/00-automount_lock.j2
            dest: "/etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d/locks/00-automount_lock"
            owner: root
            group: root
            mode: '0644'
        notify: Update dconf
  when:
      - ubtu22cis_rule_1_8_7
      - ubtu22cis_desktop_required
  tags:
      - level1-server
      - level2-workstation
      - automated
      - patch
      - rule_1.8.7
      - gnome

- name: "1.8.8 | PATCH | Ensure GDM autorun-never is enabled"
  block:
      - name: "1.8.8 | PATCH | Ensure GDM autorun-never is enabled | make directory"
        ansible.builtin.file:
            path: "/etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d"
            owner: root
            group: root
            mode: '0755'
            state: directory
        notify: Update dconf

      - name: "1.8.8 | PATCH | Ensure GDM autorun-never is enabled | session script"
        ansible.builtin.template:
            src: etc/dconf/db/00-media-autorun.j2
            dest: "/etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d/00-media-autorun"
            owner: root
            group: root
            mode: '0644'
        notify: Update dconf
  when:
      - ubtu22cis_rule_1_8_8
      - ubtu22cis_desktop_required
  tags:
      - level1-server
      - level2-workstation
      - automated
      - patch
      - rule_1.8.8
      - gnome

- name: "1.8.9 | PATCH | Ensure GDM autorun-never is not overridden"
  block:
      - name: "1.8.9 | PATCH | Ensure GDM autorun-never is not overridden | make lock directory"
        ansible.builtin.file:
            path: "/etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d/locks"
            owner: root
            group: root
            mode: '0755'
            state: directory
        notify: Update dconf

      - name: "1.8.9 | PATCH | Ensure GDM autorun-never is not overridden | make lockfile"
        ansible.builtin.template:
            src: etc/dconf/db/00-autorun_lock.j2
            dest: "/etc/dconf/db/{{ ubtu22cis_dconf_db_name }}.d/locks/00-autorun_lock"
            owner: root
            group: root
            mode: '0644'
        notify: Update dconf
  when:
      - ubtu22cis_rule_1_8_9
      - ubtu22cis_desktop_required
  tags:
      - level1-server
      - level2-workstation
      - automated
      - patch
      - rule_1.8.9
      - gnome

- name: "1.8.10 | PATCH | Ensure XDCMP is not enabled"
  ansible.builtin.lineinfile:
      path: /etc/gdm3/custom.conf
      regexp: '^Enable.*=.*true'
      state: absent
  when:
      - ubtu22cis_rule_1_8_10
  tags:
      - level1-server
      - level1-workstation
      - automated
      - patch
      - rule_1.8.10
      - gnome
      - xdcmp
