---

- name: "SECTION | 1.1.1 | Configure Filesystem Kernel Modules"
  when: not system_is_container
  ansible.builtin.import_tasks:
    file: cis_1.1.1.x.yml

- name: "SECTION | 1.1.2.1 | Configure /tmp"
  when: not system_is_container
  ansible.builtin.import_tasks:
    file: cis_1.1.2.1.x.yml

- name: "SECTION | 1.1.2.2 | Configure /dev/shm"
  when: not system_is_container
  ansible.builtin.import_tasks:
    file: cis_1.1.2.2.x.yml

- name: "SECTION | 1.1.2.3 | Configure /home"
  ansible.builtin.import_tasks:
    file: cis_1.1.2.3.x.yml

- name: "SECTION | 1.1.2.4 | Configure /var"
  when: not system_is_container
  ansible.builtin.import_tasks:
    file: cis_1.1.2.4.x.yml

- name: "SECTION | 1.1.2.5 | Configure /var/tmp"
  when: not system_is_container
  ansible.builtin.import_tasks:
    file: cis_1.1.2.5.x.yml

- name: "SECTION | 1.1.2.6 | Configure /var/log"
  when: not system_is_container
  ansible.builtin.import_tasks:
    file: cis_1.1.2.6.x.yml

- name: "SECTION | 1.1.2.7 | Configure /var/log/audit"
  when: not system_is_container
  ansible.builtin.import_tasks:
    file: cis_1.1.2.7.x.yml

- name: "SECTION | 1.2.1 | Configure Package Repositories"
  ansible.builtin.import_tasks:
    file: cis_1.2.1.x.yml

- name: "SECTION | 1.2.2 | Configure Package Updates"
  ansible.builtin.import_tasks:
    file: cis_1.2.2.x.yml

- name: "SECTION | 1.3 | Configure AppArmor"
  when: not system_is_container
  ansible.builtin.import_tasks:
    file: cis_1.3.1.x.yml

- name: "SECTION | 1.4 | Configure Bootloader"
  ansible.builtin.import_tasks:
    file: cis_1.4.x.yml

- name: "SECTION | 1.5 | Configure Additional Process Hardening"
  ansible.builtin.import_tasks:
    file: cis_1.5.x.yml

- name: "SECTION | 1.6 | Command Line Warning Banners"
  ansible.builtin.import_tasks:
    file: cis_1.6.x.yml

- name: "SECTION | 1.7 | Configure GNOME Display Manager"
  ansible.builtin.import_tasks:
    file: cis_1.7.x.yml
