## metadata for Audit benchmark

benchmark_version: '1.1.0'


# Some audit tests may need to scan every filesystem or have an impact on a system
# these may need be scheduled to minimise impact also ability to set a timeout if taking too long
timeout_ms: {{ audit_cmd_timeout }}


ubtu22cis_section1: {{ ubtu22cis_section1 }}
ubtu22cis_section2: {{ ubtu22cis_section2 }}
ubtu22cis_section3: {{ ubtu22cis_section3 }}
ubtu22cis_section4: {{ ubtu22cis_section4 }}
ubtu22cis_section5: {{ ubtu22cis_section5 }}
ubtu22cis_section6: {{ ubtu22cis_section6 }}

ubtu22cis_level_1: {{ ubtu22cis_level_1 }}
ubtu22cis_level_2: {{ ubtu22cis_level_2 }}


#  to enable rules that may have IO impact on a system e.g. full filesystem scans or CPU heavy
run_heavy_tests: true

#  True is BIOS based system else set to false
ubtu22_legacy_boot: true

ubtu22_set_boot_pass: true

## Section 1 Fixes
# Section 1 is Initial setup (FileSystem Configuration, Configure Software Updates, Filesystem Integrity Checking, Secure Boot Settings,
# Additional Process Hardening, Mandatory Access Control, Command Line Warning Banners, and GNOME Display Manager)
ubtu22cis_rule_1_1_1_1: {{ ubtu22cis_rule_1_1_1_1 }}
ubtu22cis_rule_1_1_1_2: {{ ubtu22cis_rule_1_1_1_2 }}
ubtu22cis_rule_1_1_1_3: {{ ubtu22cis_rule_1_1_1_3 }}
ubtu22cis_rule_1_1_2_1: {{ ubtu22cis_rule_1_1_2_1 }}
ubtu22cis_rule_1_1_2_2: {{ ubtu22cis_rule_1_1_2_2 }}
ubtu22cis_rule_1_1_2_3: {{ ubtu22cis_rule_1_1_2_3 }}
ubtu22cis_rule_1_1_2_4: {{ ubtu22cis_rule_1_1_2_4 }}
ubtu22cis_rule_1_1_3_1: {{ ubtu22cis_rule_1_1_3_1 }}
ubtu22cis_rule_1_1_3_2: {{ ubtu22cis_rule_1_1_3_2 }}
ubtu22cis_rule_1_1_3_3: {{ ubtu22cis_rule_1_1_3_3 }}
ubtu22cis_rule_1_1_4_1: {{ ubtu22cis_rule_1_1_4_1 }}
ubtu22cis_rule_1_1_4_2: {{ ubtu22cis_rule_1_1_4_2 }}
ubtu22cis_rule_1_1_4_3: {{ ubtu22cis_rule_1_1_4_3 }}
ubtu22cis_rule_1_1_4_4: {{ ubtu22cis_rule_1_1_4_4 }}
ubtu22cis_rule_1_1_5_1: {{ ubtu22cis_rule_1_1_5_1 }}
ubtu22cis_rule_1_1_5_2: {{ ubtu22cis_rule_1_1_5_2 }}
ubtu22cis_rule_1_1_5_3: {{ ubtu22cis_rule_1_1_5_3 }}
ubtu22cis_rule_1_1_5_4: {{ ubtu22cis_rule_1_1_5_4 }}
ubtu22cis_rule_1_1_6_1: {{ ubtu22cis_rule_1_1_6_1 }}
ubtu22cis_rule_1_1_6_2: {{ ubtu22cis_rule_1_1_6_2 }}
ubtu22cis_rule_1_1_6_3: {{ ubtu22cis_rule_1_1_6_3 }}
ubtu22cis_rule_1_1_6_4: {{ ubtu22cis_rule_1_1_6_4 }}
ubtu22cis_rule_1_1_7_1: {{ ubtu22cis_rule_1_1_7_1 }}
ubtu22cis_rule_1_1_7_2: {{ ubtu22cis_rule_1_1_7_2 }}
ubtu22cis_rule_1_1_7_3: {{ ubtu22cis_rule_1_1_7_3 }}
ubtu22cis_rule_1_1_8_1: {{ ubtu22cis_rule_1_1_8_1 }}
ubtu22cis_rule_1_1_8_2: {{ ubtu22cis_rule_1_1_8_2 }}
ubtu22cis_rule_1_1_8_3: {{ ubtu22cis_rule_1_1_8_3 }}
ubtu22cis_rule_1_1_9: {{ ubtu22cis_rule_1_1_9 }}
ubtu22cis_rule_1_1_10: {{ ubtu22cis_rule_1_1_10 }}
ubtu22cis_rule_1_2_1: {{ ubtu22cis_rule_1_2_1 }}
ubtu22cis_rule_1_2_2: {{ ubtu22cis_rule_1_2_2 }}
ubtu22cis_rule_1_3_1: {{ ubtu22cis_rule_1_3_1 }}
ubtu22cis_rule_1_3_2: {{ ubtu22cis_rule_1_3_2 }}
ubtu22cis_rule_1_4_1: {{ ubtu22cis_rule_1_4_1 }}
ubtu22cis_rule_1_4_2: {{ ubtu22cis_rule_1_4_2 }}
ubtu22cis_rule_1_4_3: {{ ubtu22cis_rule_1_4_3 }}
ubtu22cis_rule_1_5_1: {{ ubtu22cis_rule_1_5_1 }}
ubtu22cis_rule_1_5_2: {{ ubtu22cis_rule_1_5_2 }}
ubtu22cis_rule_1_5_3: {{ ubtu22cis_rule_1_5_3 }}
ubtu22cis_rule_1_5_4: {{ ubtu22cis_rule_1_5_4 }}
ubtu22cis_rule_1_6_1_1: {{ ubtu22cis_rule_1_6_1_1 }}
ubtu22cis_rule_1_6_1_2: {{ ubtu22cis_rule_1_6_1_2 }}
ubtu22cis_rule_1_6_1_3: {{ ubtu22cis_rule_1_6_1_3 }}
ubtu22cis_rule_1_6_1_4: {{ ubtu22cis_rule_1_6_1_4 }}
ubtu22cis_rule_1_7_1: {{ ubtu22cis_rule_1_7_1 }}
ubtu22cis_rule_1_7_2: {{ ubtu22cis_rule_1_7_2 }}
ubtu22cis_rule_1_7_3: {{ ubtu22cis_rule_1_7_3 }}
ubtu22cis_rule_1_7_4: {{ ubtu22cis_rule_1_7_4 }}
ubtu22cis_rule_1_7_5: {{ ubtu22cis_rule_1_7_5 }}
ubtu22cis_rule_1_7_6: {{ ubtu22cis_rule_1_7_6 }}
ubtu22cis_rule_1_8_1: {{ ubtu22cis_rule_1_8_1 }}
ubtu22cis_rule_1_8_2: {{ ubtu22cis_rule_1_8_2 }}
ubtu22cis_rule_1_8_3: {{ ubtu22cis_rule_1_8_3 }}
ubtu22cis_rule_1_8_4: {{ ubtu22cis_rule_1_8_4 }}
ubtu22cis_rule_1_8_5: {{ ubtu22cis_rule_1_8_5 }}
ubtu22cis_rule_1_8_6: {{ ubtu22cis_rule_1_8_6 }}
ubtu22cis_rule_1_8_7: {{ ubtu22cis_rule_1_8_7 }}
ubtu22cis_rule_1_8_8: {{ ubtu22cis_rule_1_8_8 }}
ubtu22cis_rule_1_8_9: {{ ubtu22cis_rule_1_8_9 }}
ubtu22cis_rule_1_8_10: {{ ubtu22cis_rule_1_8_10 }}
ubtu22cis_rule_1_9: {{ ubtu22cis_rule_1_9 }}

# Section 2 Fixes
# Section 2 is Services (Special Purpose Services, and service clients)
ubtu22cis_rule_2_1_1_1: {{ ubtu22cis_rule_2_1_1_1 }}
ubtu22cis_rule_2_1_1_2: {{ ubtu22cis_rule_2_1_1_2 }}
ubtu22cis_rule_2_1_1_3: {{ ubtu22cis_rule_2_1_1_3 }}
ubtu22cis_rule_2_1_1_4: {{ ubtu22cis_rule_2_1_1_4 }}
# Chrony
ubtu22cis_rule_2_1_2_1: {{ ubtu22cis_rule_2_1_2_1 }}
ubtu22cis_rule_2_1_2_2: {{ ubtu22cis_rule_2_1_2_2 }}
ubtu22cis_rule_2_1_2_3: {{ ubtu22cis_rule_2_1_2_3 }}
# systemd-timesyncd
ubtu22cis_rule_2_1_3_1: {{ ubtu22cis_rule_2_1_3_1 }}
ubtu22cis_rule_2_1_3_2: {{ ubtu22cis_rule_2_1_3_2 }}
# ntp
ubtu22cis_rule_2_1_4_1: {{ ubtu22cis_rule_2_1_4_1 }}
ubtu22cis_rule_2_1_4_2: {{ ubtu22cis_rule_2_1_4_2 }}
ubtu22cis_rule_2_1_4_3: {{ ubtu22cis_rule_2_1_4_3 }}
ubtu22cis_rule_2_1_4_4: {{ ubtu22cis_rule_2_1_4_4 }}
# Services
ubtu22cis_rule_2_2_1: {{ ubtu22cis_rule_2_2_1 }}
ubtu22cis_rule_2_2_2: {{ ubtu22cis_rule_2_2_2 }}
ubtu22cis_rule_2_2_3: {{ ubtu22cis_rule_2_2_3 }}
ubtu22cis_rule_2_2_4: {{ ubtu22cis_rule_2_2_4 }}
ubtu22cis_rule_2_2_5: {{ ubtu22cis_rule_2_2_5 }}
ubtu22cis_rule_2_2_6: {{ ubtu22cis_rule_2_2_6 }}
ubtu22cis_rule_2_2_7: {{ ubtu22cis_rule_2_2_7 }}
ubtu22cis_rule_2_2_8: {{ ubtu22cis_rule_2_2_8 }}
ubtu22cis_rule_2_2_9: {{ ubtu22cis_rule_2_2_9 }}
ubtu22cis_rule_2_2_10: {{ ubtu22cis_rule_2_2_10 }}
ubtu22cis_rule_2_2_11: {{ ubtu22cis_rule_2_2_11 }}
ubtu22cis_rule_2_2_12: {{ ubtu22cis_rule_2_2_12 }}
ubtu22cis_rule_2_2_13: {{ ubtu22cis_rule_2_2_13 }}
ubtu22cis_rule_2_2_14: {{ ubtu22cis_rule_2_2_14 }}
ubtu22cis_rule_2_2_15: {{ ubtu22cis_rule_2_2_15 }}
ubtu22cis_rule_2_2_16: {{ ubtu22cis_rule_2_2_16 }}
ubtu22cis_rule_2_2_17: {{ ubtu22cis_rule_2_2_17 }}
# Service Client
ubtu22cis_rule_2_3_1: {{ ubtu22cis_rule_2_3_1 }}
ubtu22cis_rule_2_3_2: {{ ubtu22cis_rule_2_3_2 }}
ubtu22cis_rule_2_3_3: {{ ubtu22cis_rule_2_3_3 }}
ubtu22cis_rule_2_3_4: {{ ubtu22cis_rule_2_3_4 }}
ubtu22cis_rule_2_3_5: {{ ubtu22cis_rule_2_3_5 }}
ubtu22cis_rule_2_3_6: {{ ubtu22cis_rule_2_3_6 }}
# Non-essential services
ubtu22cis_rule_2_4: {{ ubtu22cis_rule_2_4 }}

# Section 3 Network Configuration
# Disable Unused Network
ubtu22cis_rule_3_1_1: {{ ubtu22cis_rule_3_1_1 }}
ubtu22cis_rule_3_1_2: {{ ubtu22cis_rule_3_1_2 }}
# Network Parameters (Host Only)
ubtu22cis_rule_3_2_1: {{ ubtu22cis_rule_3_2_1 }}
ubtu22cis_rule_3_2_2: {{ ubtu22cis_rule_3_2_2 }}
# Network Parameters (Host and Router)
ubtu22cis_rule_3_3_1: {{ ubtu22cis_rule_3_3_1 }}
ubtu22cis_rule_3_3_2: {{ ubtu22cis_rule_3_3_2 }}
ubtu22cis_rule_3_3_3: {{ ubtu22cis_rule_3_3_3 }}
ubtu22cis_rule_3_3_4: {{ ubtu22cis_rule_3_3_4 }}
ubtu22cis_rule_3_3_5: {{ ubtu22cis_rule_3_3_5 }}
ubtu22cis_rule_3_3_6: {{ ubtu22cis_rule_3_3_6 }}
ubtu22cis_rule_3_3_7: {{ ubtu22cis_rule_3_3_7 }}
ubtu22cis_rule_3_3_8: {{ ubtu22cis_rule_3_3_8 }}
ubtu22cis_rule_3_3_9: {{ ubtu22cis_rule_3_3_9 }}
# Uncommon Network Protocols
ubtu22cis_rule_3_4_1: {{ ubtu22cis_rule_3_4_1 }}
ubtu22cis_rule_3_4_2: {{ ubtu22cis_rule_3_4_2 }}
ubtu22cis_rule_3_4_3: {{ ubtu22cis_rule_3_4_3 }}
ubtu22cis_rule_3_4_4: {{ ubtu22cis_rule_3_4_4 }}
# Firewall Configuration
# UFW
ubtu22cis_rule_3_5_1_1: {{ ubtu22cis_rule_3_5_1_1 }}
ubtu22cis_rule_3_5_1_2: {{ ubtu22cis_rule_3_5_1_2 }}
ubtu22cis_rule_3_5_1_3: {{ ubtu22cis_rule_3_5_1_3 }}
ubtu22cis_rule_3_5_1_4: {{ ubtu22cis_rule_3_5_1_4 }}
ubtu22cis_rule_3_5_1_5: {{ ubtu22cis_rule_3_5_1_5 }}
ubtu22cis_rule_3_5_1_6: {{ ubtu22cis_rule_3_5_1_6 }}
ubtu22cis_rule_3_5_1_7: {{ ubtu22cis_rule_3_5_1_7 }}
# nftables
ubtu22cis_rule_3_5_2_1: {{ ubtu22cis_rule_3_5_2_1 }}
ubtu22cis_rule_3_5_2_2: {{ ubtu22cis_rule_3_5_2_2 }}
ubtu22cis_rule_3_5_2_3: {{ ubtu22cis_rule_3_5_2_3 }}
ubtu22cis_rule_3_5_2_4: {{ ubtu22cis_rule_3_5_2_4 }}
ubtu22cis_rule_3_5_2_5: {{ ubtu22cis_rule_3_5_2_5 }}
ubtu22cis_rule_3_5_2_6: {{ ubtu22cis_rule_3_5_2_6 }}
ubtu22cis_rule_3_5_2_7: {{ ubtu22cis_rule_3_5_2_7 }}
ubtu22cis_rule_3_5_2_8: {{ ubtu22cis_rule_3_5_2_8 }}
ubtu22cis_rule_3_5_2_9: {{ ubtu22cis_rule_3_5_2_9 }}
ubtu22cis_rule_3_5_2_10: {{ ubtu22cis_rule_3_5_2_10 }}
# iptables
ubtu22cis_rule_3_5_3_1_1: {{ ubtu22cis_rule_3_5_3_1_1 }}
ubtu22cis_rule_3_5_3_1_2: {{ ubtu22cis_rule_3_5_3_1_2 }}
ubtu22cis_rule_3_5_3_1_3: {{ ubtu22cis_rule_3_5_3_1_3 }}
ubtu22cis_rule_3_5_3_2_1: {{ ubtu22cis_rule_3_5_3_2_1 }}
ubtu22cis_rule_3_5_3_2_2: {{ ubtu22cis_rule_3_5_3_2_2 }}
ubtu22cis_rule_3_5_3_2_3: {{ ubtu22cis_rule_3_5_3_2_3 }}
ubtu22cis_rule_3_5_3_2_4: {{ ubtu22cis_rule_3_5_3_2_4 }}
ubtu22cis_rule_3_5_3_3_1: {{ ubtu22cis_rule_3_5_3_3_1 }}
ubtu22cis_rule_3_5_3_3_2: {{ ubtu22cis_rule_3_5_3_3_2 }}
ubtu22cis_rule_3_5_3_3_3: {{ ubtu22cis_rule_3_5_3_3_3 }}
ubtu22cis_rule_3_5_3_3_4: {{ ubtu22cis_rule_3_5_3_3_4 }}

# Section 4 Fixes
# Section 4 is Logging and Auditing (Configure System Accounting (auditd), Configure Data Retention, and Configure Logging)
ubtu22cis_rule_4_1_1_1: {{ ubtu22cis_rule_4_1_1_1 }}
ubtu22cis_rule_4_1_1_2: {{ ubtu22cis_rule_4_1_1_2 }}
ubtu22cis_rule_4_1_1_3: {{ ubtu22cis_rule_4_1_1_3 }}
ubtu22cis_rule_4_1_1_4: {{ ubtu22cis_rule_4_1_1_4 }}
ubtu22cis_rule_4_1_2_1: {{ ubtu22cis_rule_4_1_2_1 }}
ubtu22cis_rule_4_1_2_2: {{ ubtu22cis_rule_4_1_2_2 }}
ubtu22cis_rule_4_1_2_3: {{ ubtu22cis_rule_4_1_2_3 }}
# Auditd rules
ubtu22cis_rule_4_1_3_1: {{ ubtu22cis_rule_4_1_3_1 }}
ubtu22cis_rule_4_1_3_2: {{ ubtu22cis_rule_4_1_3_2 }}
ubtu22cis_rule_4_1_3_3: {{ ubtu22cis_rule_4_1_3_3 }}
ubtu22cis_rule_4_1_3_4: {{ ubtu22cis_rule_4_1_3_4 }}
ubtu22cis_rule_4_1_3_5: {{ ubtu22cis_rule_4_1_3_5 }}
ubtu22cis_rule_4_1_3_6: {{ ubtu22cis_rule_4_1_3_6 }}
ubtu22cis_rule_4_1_3_7: {{ ubtu22cis_rule_4_1_3_7 }}
ubtu22cis_rule_4_1_3_8: {{ ubtu22cis_rule_4_1_3_8 }}
ubtu22cis_rule_4_1_3_9: {{ ubtu22cis_rule_4_1_3_9 }}
ubtu22cis_rule_4_1_3_10: {{ ubtu22cis_rule_4_1_3_10 }}
ubtu22cis_rule_4_1_3_11: {{ ubtu22cis_rule_4_1_3_11 }}
ubtu22cis_rule_4_1_3_12: {{ ubtu22cis_rule_4_1_3_12 }}
ubtu22cis_rule_4_1_3_13: {{ ubtu22cis_rule_4_1_3_13 }}
ubtu22cis_rule_4_1_3_14: {{ ubtu22cis_rule_4_1_3_14 }}
ubtu22cis_rule_4_1_3_15: {{ ubtu22cis_rule_4_1_3_15 }}
ubtu22cis_rule_4_1_3_16: {{ ubtu22cis_rule_4_1_3_16 }}
ubtu22cis_rule_4_1_3_17: {{ ubtu22cis_rule_4_1_3_17 }}
ubtu22cis_rule_4_1_3_18: {{ ubtu22cis_rule_4_1_3_18 }}
ubtu22cis_rule_4_1_3_19: {{ ubtu22cis_rule_4_1_3_19 }}
ubtu22cis_rule_4_1_3_20: {{ ubtu22cis_rule_4_1_3_20 }}
ubtu22cis_rule_4_1_3_21: {{ ubtu22cis_rule_4_1_3_21 }}
# Auditd file access
ubtu22cis_rule_4_1_4_1: {{ ubtu22cis_rule_4_1_4_1 }}
ubtu22cis_rule_4_1_4_2: {{ ubtu22cis_rule_4_1_4_2 }}
ubtu22cis_rule_4_1_4_3: {{ ubtu22cis_rule_4_1_4_3 }}
ubtu22cis_rule_4_1_4_4: {{ ubtu22cis_rule_4_1_4_4 }}
ubtu22cis_rule_4_1_4_5: {{ ubtu22cis_rule_4_1_4_5 }}
ubtu22cis_rule_4_1_4_6: {{ ubtu22cis_rule_4_1_4_6 }}
ubtu22cis_rule_4_1_4_7: {{ ubtu22cis_rule_4_1_4_7 }}
ubtu22cis_rule_4_1_4_8: {{ ubtu22cis_rule_4_1_4_8 }}
ubtu22cis_rule_4_1_4_9: {{ ubtu22cis_rule_4_1_4_9 }}
ubtu22cis_rule_4_1_4_10: {{ ubtu22cis_rule_4_1_4_10 }}
ubtu22cis_rule_4_1_4_11: {{ ubtu22cis_rule_4_1_4_11 }}
# Configure Logging
## journald
ubtu22cis_rule_4_2_1_1_1: {{ ubtu22cis_rule_4_2_1_1_1 }}
ubtu22cis_rule_4_2_1_1_2: {{ ubtu22cis_rule_4_2_1_1_2 }}
ubtu22cis_rule_4_2_1_1_3: {{ ubtu22cis_rule_4_2_1_1_1 }}
ubtu22cis_rule_4_2_1_1_4: {{ ubtu22cis_rule_4_2_1_1_1 }}
ubtu22cis_rule_4_2_1_1: {{ ubtu22cis_rule_4_2_1_1 }}
ubtu22cis_rule_4_2_1_2: {{ ubtu22cis_rule_4_2_1_2 }}
ubtu22cis_rule_4_2_1_3: {{ ubtu22cis_rule_4_2_1_3 }}
ubtu22cis_rule_4_2_1_4: {{ ubtu22cis_rule_4_2_1_4  }}
ubtu22cis_rule_4_2_1_5: {{ ubtu22cis_rule_4_2_1_5 }}
ubtu22cis_rule_4_2_1_6: {{ ubtu22cis_rule_4_2_1_6  }}
ubtu22cis_rule_4_2_1_7: {{ ubtu22cis_rule_4_2_1_7  }}
# rsyslog
ubtu22cis_rule_4_2_2_1: {{ ubtu22cis_rule_4_2_2_1 }}
ubtu22cis_rule_4_2_2_2: {{ ubtu22cis_rule_4_2_2_2 }}
ubtu22cis_rule_4_2_2_3: {{ ubtu22cis_rule_4_2_2_3 }}
ubtu22cis_rule_4_2_2_4: {{ ubtu22cis_rule_4_2_2_4 }}
ubtu22cis_rule_4_2_2_5: {{ ubtu22cis_rule_4_2_2_5 }}
ubtu22cis_rule_4_2_2_6: {{ ubtu22cis_rule_4_2_2_6 }}
ubtu22cis_rule_4_2_2_7: {{ ubtu22cis_rule_4_2_2_7 }}
ubtu22cis_rule_4_2_3: {{ ubtu22cis_rule_4_2_3 }}
ubtu22cis_rule_4_3: {{ ubtu22cis_rule_4_3}}
ubtu22cis_rule_4_4: {{ ubtu22cis_rule_4_4 }}

# Section 5 Fixes
# Section 5 is Access, Authentication, and Authorization (Configure time-based job schedulers, Configure sudo, Configure SSH Server, Configure PAM
# and User Accounts and Environment)
ubtu22cis_rule_5_1_1: {{ ubtu22cis_rule_5_1_1 }}
ubtu22cis_rule_5_1_2: {{ ubtu22cis_rule_5_1_2 }}
ubtu22cis_rule_5_1_3: {{ ubtu22cis_rule_5_1_3 }}
ubtu22cis_rule_5_1_4: {{ ubtu22cis_rule_5_1_4 }}
ubtu22cis_rule_5_1_5: {{ ubtu22cis_rule_5_1_5 }}
ubtu22cis_rule_5_1_6: {{ ubtu22cis_rule_5_1_6 }}
ubtu22cis_rule_5_1_7: {{ ubtu22cis_rule_5_1_7 }}
ubtu22cis_rule_5_1_8: {{ ubtu22cis_rule_5_1_8 }}
ubtu22cis_rule_5_1_9: {{ ubtu22cis_rule_5_1_9 }}

ubtu22cis_rule_5_2_1: {{ ubtu22cis_rule_5_2_1 }}
ubtu22cis_rule_5_2_2: {{ ubtu22cis_rule_5_2_2 }}
ubtu22cis_rule_5_2_3: {{ ubtu22cis_rule_5_2_3 }}
ubtu22cis_rule_5_2_4: {{ ubtu22cis_rule_5_2_4 }}
ubtu22cis_rule_5_2_5: {{ ubtu22cis_rule_5_2_5 }}
ubtu22cis_rule_5_2_6: {{ ubtu22cis_rule_5_2_6 }}
ubtu22cis_rule_5_2_7: {{ ubtu22cis_rule_5_2_7 }}
ubtu22cis_rule_5_2_8: {{ ubtu22cis_rule_5_2_8 }}
ubtu22cis_rule_5_2_9: {{ ubtu22cis_rule_5_2_9 }}
ubtu22cis_rule_5_2_10: {{ ubtu22cis_rule_5_2_10 }}
ubtu22cis_rule_5_2_11: {{ ubtu22cis_rule_5_2_11 }}
ubtu22cis_rule_5_2_12: {{ ubtu22cis_rule_5_2_12 }}
ubtu22cis_rule_5_2_13: {{ ubtu22cis_rule_5_2_13 }}
ubtu22cis_rule_5_2_14: {{ ubtu22cis_rule_5_2_14 }}
ubtu22cis_rule_5_2_15: {{ ubtu22cis_rule_5_2_15 }}
ubtu22cis_rule_5_2_16: {{ ubtu22cis_rule_5_2_16 }}
ubtu22cis_rule_5_2_17: {{ ubtu22cis_rule_5_2_17 }}
ubtu22cis_rule_5_2_18: {{ ubtu22cis_rule_5_2_18 }}
ubtu22cis_rule_5_2_19: {{ ubtu22cis_rule_5_2_19 }}
ubtu22cis_rule_5_2_20: {{ ubtu22cis_rule_5_2_20 }}
ubtu22cis_rule_5_2_21: {{ ubtu22cis_rule_5_2_21 }}
ubtu22cis_rule_5_2_22: {{ ubtu22cis_rule_5_2_22 }}
ubtu22cis_rule_5_3_1: {{ ubtu22cis_rule_5_3_1 }}
ubtu22cis_rule_5_3_2: {{ ubtu22cis_rule_5_3_2 }}
ubtu22cis_rule_5_3_3: {{ ubtu22cis_rule_5_3_3 }}
ubtu22cis_rule_5_3_4: {{ ubtu22cis_rule_5_3_4 }}
ubtu22cis_rule_5_3_5: {{ ubtu22cis_rule_5_3_5 }}
ubtu22cis_rule_5_3_6: {{ ubtu22cis_rule_5_3_6 }}
ubtu22cis_rule_5_3_7: {{ ubtu22cis_rule_5_3_7 }}
ubtu22cis_rule_5_4_1: {{ ubtu22cis_rule_5_4_1 }}
ubtu22cis_rule_5_4_2: {{ ubtu22cis_rule_5_4_2 }}
ubtu22cis_rule_5_4_3: {{ ubtu22cis_rule_5_4_3 }}
ubtu22cis_rule_5_4_4: {{ ubtu22cis_rule_5_4_4 }}
ubtu22cis_rule_5_4_5: {{ ubtu22cis_rule_5_4_5 }}
ubtu22cis_rule_5_5_1_1: {{ ubtu22cis_rule_5_5_1_1 }}
ubtu22cis_rule_5_5_1_2: {{ ubtu22cis_rule_5_5_1_2 }}
ubtu22cis_rule_5_5_1_3: {{ ubtu22cis_rule_5_5_1_3 }}
ubtu22cis_rule_5_5_1_4: {{ ubtu22cis_rule_5_5_1_4 }}
ubtu22cis_rule_5_5_1_5: {{ ubtu22cis_rule_5_5_1_5 }}
ubtu22cis_rule_5_5_2: {{ ubtu22cis_rule_5_5_2 }}
ubtu22cis_rule_5_5_3: {{ ubtu22cis_rule_5_5_3 }}
ubtu22cis_rule_5_5_4: {{ ubtu22cis_rule_5_5_4 }}
ubtu22cis_rule_5_5_5: {{ ubtu22cis_rule_5_5_5 }}
ubtu22cis_rule_5_6: {{ ubtu22cis_rule_5_6 }}
ubtu22cis_rule_5_7: {{ ubtu22cis_rule_5_7 }}

# Section 6 Fixes
# Section is Systme Maintenance (System File Permissions and User and Group Settings)
ubtu22cis_rule_6_1_1: {{ ubtu22cis_rule_6_1_1 }}
ubtu22cis_rule_6_1_2: {{ ubtu22cis_rule_6_1_2 }}
ubtu22cis_rule_6_1_3: {{ ubtu22cis_rule_6_1_3 }}
ubtu22cis_rule_6_1_4: {{ ubtu22cis_rule_6_1_4 }}
ubtu22cis_rule_6_1_5: {{ ubtu22cis_rule_6_1_5 }}
ubtu22cis_rule_6_1_6: {{ ubtu22cis_rule_6_1_6 }}
ubtu22cis_rule_6_1_7: {{ ubtu22cis_rule_6_1_7 }}
ubtu22cis_rule_6_1_8: {{ ubtu22cis_rule_6_1_8 }}
ubtu22cis_rule_6_1_9: {{ ubtu22cis_rule_6_1_9 }}
ubtu22cis_rule_6_1_10: {{ ubtu22cis_rule_6_1_10 }}
ubtu22cis_rule_6_1_11: {{ ubtu22cis_rule_6_1_11 }}
ubtu22cis_rule_6_1_12: {{ ubtu22cis_rule_6_1_12 }}
ubtu22cis_rule_6_1_13: {{ ubtu22cis_rule_6_1_13 }}
ubtu22cis_rule_6_2_1: {{ ubtu22cis_rule_6_2_1 }}
ubtu22cis_rule_6_2_2: {{ ubtu22cis_rule_6_2_2 }}
ubtu22cis_rule_6_2_3: {{ ubtu22cis_rule_6_2_3 }}
ubtu22cis_rule_6_2_4: {{ ubtu22cis_rule_6_2_4 }}
ubtu22cis_rule_6_2_5: {{ ubtu22cis_rule_6_2_5 }}
ubtu22cis_rule_6_2_6: {{ ubtu22cis_rule_6_2_6 }}
ubtu22cis_rule_6_2_7: {{ ubtu22cis_rule_6_2_7 }}
ubtu22cis_rule_6_2_8: {{ ubtu22cis_rule_6_2_8 }}
ubtu22cis_rule_6_2_9: {{ ubtu22cis_rule_6_2_9 }}
ubtu22cis_rule_6_2_10: {{ ubtu22cis_rule_6_2_10 }}
ubtu22cis_rule_6_2_11: {{ ubtu22cis_rule_6_2_11 }}
ubtu22cis_rule_6_2_12: {{ ubtu22cis_rule_6_2_12 }}
ubtu22cis_rule_6_2_13: {{ ubtu22cis_rule_6_2_13 }}
ubtu22cis_rule_6_2_14: {{ ubtu22cis_rule_6_2_14 }}
ubtu22cis_rule_6_2_15: {{ ubtu22cis_rule_6_2_15 }}
ubtu22cis_rule_6_2_16: {{ ubtu22cis_rule_6_2_16 }}
ubtu22cis_rule_6_2_17: {{ ubtu22cis_rule_6_2_17 }}

# AIDE
ubtu22cis_config_aide: {{ ubtu22cis_config_aide }}

# aide setup via - cron, timer
ubtu22cis_aide_scan: cron

# AIDE cron settings
ubtu22_aide_cron:
  cron_user: {{ ubtu22cis_aide_cron.cron_user }}
  cron_file: {{ ubtu22cis_aide_cron.cron_file }}
  aide_job: {{ ubtu22cis_aide_cron.aide_job }}
  aide_minute: {{ ubtu22cis_aide_cron.aide_minute }}
  aide_hour: {{ ubtu22cis_aide_cron.aide_hour }}
  aide_day: '{{ ubtu22cis_aide_cron.aide_day }}'
  aide_month: '{{ ubtu22cis_aide_cron.aide_month }}'
  aide_weekday: '{{ ubtu22cis_aide_cron.aide_weekday }}'

# 1.1
ubtu22cis_allow_autofs: {{ ubtu22cis_allow_autofs }}

# 1.4
ubtu22cis_grub_user_file: {{ ubtu22cis_grub_user_file }}
ubtu22cis_grub_username: {{ ubtu22cis_grub_user }}
ubtu22cis_grub_hash: {{ ubtu22cis_bootloader_password_hash }}
# 1.5.1 Bootloader password
ubtu22cis_bootloader_password: {{ ubtu22cis_bootloader_password_hash }}

# 1.6 - Only have apparmor enforcing
ubtu22cis_apparmor_disable: {{ ubtu22cis_apparmor_disable }}
ubtu22cis_apparmor_enforce_only: {{ ubtu22cis_apparmor_enforce_only }}

# Warning Banner Content (issue, issue.net, motd)
ubtu22_warning_banner: {{ ubtu22cis_warning_banner }}
# End Banner

# Section 2
# Time sync - can be timesync or chr0ny or ntp
ubtu22cis_time_service: {{ ubtu22cis_time_sync_tool }}

# Control 2.1.2.1 2.1.3.1
# Time settings used for all versions
ubtu22cis_time_pool:
{% for pool in ubtu22cis_time_pool %}
- name: {{ pool.name }}
  options: {{ pool.options }}
{% endfor %}

ubtu22cis_time_servers:
{% for server in ubtu22cis_time_servers %}
- name: {{ server.name }}
  options: {{ server.options }}
{% endfor %}

# Whether or not to run tasks related to auditing/patching the desktop environment
ubtu22cis_gui: {{ ubtu22cis_desktop_required }}

# Service configuration booleans set true to keep service
ubtu22cis_avahi_server: {{ ubtu22cis_avahi_server }}
ubtu22cis_cups_server: {{ ubtu22cis_cups_server }}
ubtu22cis_nfs_server: {{ ubtu22cis_nfs_server }}
ubtu22cis_dhcp_server: {{ ubtu22cis_dhcp_server }}
ubtu22cis_ldap_server: {{ ubtu22cis_ldap_server }}
ubtu22cis_dns_server: {{ ubtu22cis_dns_server }}
ubtu22cis_vsftpd_server: {{ ubtu22cis_vsftpd_server }}
ubtu22cis_httpd_server: {{ ubtu22cis_httpd_server }}
ubtu22cis_is_mail_server: {{ ubtu22cis_is_mail_server }}
ubtu22cis_dovecot_server: {{ ubtu22cis_dovecot_server }}
ubtu22cis_samba_server: {{ ubtu22cis_smb_server }}
ubtu22cis_squid_server: {{ ubtu22cis_squid_server }}
ubtu22cis_snmp_server: {{ ubtu22cis_snmp_server }}

#  Mail Server config
{% if ubtu22_cis_mail_transfer_agent is defined %}
ubtu22cis_mailserver: {{ ubtu22_cis_mail_transfer_agent }}
{% else %}
ubtu22cis_mailserver: Not_defined
{% endif %}
ubtu22_exim_conf:
  - dc_eximconfig_configtype='local'
  - dc_local_interfaces='127.0.0.1 ; ::1'
  - dc_readhost=''
  - dc_relay_domains=''
  - dc_minimaldns='false'
  - dc_relay_nets=''
  - dc_smarthost=''
  - dc_use_split_config='false'
  - dc_hide_mailname=''
  - dc_mailname_in_oh='true'
  - dc_localdelivery='mail_spool'

ubtu22cis_rsyncd_server: {{ ubtu22cis_rsync_server }}
ubtu22cis_nis_server: {{ ubtu22cis_nis_server }}

ubtu22cis_xwindows_required: false

# 2.2 client services
ubtu22cis_rsh_required: {{ ubtu22cis_rsh_required }}
ubtu22cis_talk_required: {{ ubtu22cis_talk_required }}
ubtu22cis_telnet_required: {{ ubtu22cis_telnet_required }}
ubtu22cis_ldap_clients_required: {{ ubtu22cis_ldap_clients_required }}
ubtu22cis_rpc_required: {{ ubtu22cis_rpc_required }}

# Section 3
# IPv6 required
ubtu22cis_ipv6_required: {{ ubtu22cis_ipv6_required }}
# How to disable ipv6 either via grub or sysctl settings options: grub or sysctl
ubtu22cis_ipv6_disable: {{ ubtu22cis_ipv6_disable }}


# System network parameters (host only OR host and router)
ubtu22cis_is_router: {{ ubtu22cis_is_router }}

ubtu22cis_firewall: {{ ubtu22cis_firewall_package }}

ubtu22_default_firewall_zone: public
ubtu22_firewall_interface:
  - ['ens224']
  - ['ens192']
ubtu22_firewall_services:
  - ssh
  - dhcpv6-client

### Section 4
## auditd settings
ubtu22cis_auditd:
  space_left_action: email
  action_mail_acct: root
  admin_space_left_action: {{ ubtu22cis_auditd.admin_space_left_action }}
  max_log_file_action: {{ ubtu22cis_auditd.max_log_file_action }}
  auditd_backlog_limit: {{ ubtu22cis_audit_back_log_limit }}

## syslog
ubtu22cis_is_syslog_server: {{ ubtu22cis_system_is_log_server }}
ubtu22cis_syslog_service: "{{ ubtu22cis_syslog_service }}"
ubtu22cis_remote_log_server: "{{ ubtu22cis_remote_log_server }}"

### Section 5
ubtu22cis_sshd_limited: false
# Note the following to understand precedence and layout
ubtu22cis_sshd_access:
  - AllowUser
  - AllowGroup
  - DenyUser
  - DenyGroup

ubtu22cis_ssh_strong_ciphers: Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
ubtu22cis_ssh_weak_ciphers:
  - 3des-cbc
  - aes128-cbc
  - aes192-cbc
  - aes256-cbc
  - arcfour
  - arcfour128
  - arcfour256
  - blowfish-cbc
  - cast128-cbc
  - rijndael-cbc@lysator.liu.se

ubtu22cis_ssh_strong_macs: MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256
ubtu22cis_ssh_weak_macs:
  - hmac-md5
  - hmac-md5-96
  - hmac-ripemd160
  - hmac-sha1
  - hmac-sha1-96
  - umac-64@openssh.com
  - umac-128@openssh.com
  - hmac-md5-etm@openssh.com
  - hmac-md5-96-etm@openssh.com
  - hmac-ripemd160-etm@openssh.com
  - hmac-sha1-etm@openssh.com
  - hmac-sha1-96-etm@openssh.com
  - umac-64-etm@openssh.com
  - umac-128-etm@openssh.com

ubtu22cis_ssh_strong_kex: KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group14-sha256,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
ubtu22cis_ssh_weak_kex:
  - diffie-hellman-group1-sha1
  - diffie-hellman-group14-sha1
  - diffie-hellman-group-exchange-sha1


ubtu22cis_ssh_aliveinterval: 300
ubtu22cis_ssh_countmax: 3
## PAM
ubtu22cis_pam_password:
  minlen: "14"
  minclass: "4"

ubtu22cis_pam_passwd_retry: "3"

# choose one of below
ubtu22cis_pwhistory_so: "14"
ubtu22cis_unix_so: false
ubtu22cis_passwd_remember: {{ ubtu22cis_pamd_pwhistory_remember }}

# logins.def password settings
ubtu22cis_pass:
  max_days: {{ ubtu22cis_pass.max_days }}
  min_days: {{ ubtu22cis_pass.min_days }}
  warn_age: {{ ubtu22cis_pass.warn_age }}

# set sugroup if differs from wheel
ubtu22cis_sugroup: {{ ubtu22cis_sugroup }}

# sugroup users list
ubtu22_sugroup_users: "root"

# var log location variable
ubtu22_varlog_location: {{ ubtu22cis_sudo_logfile }}
