---

- name: "4.2.1.2 | PATCH | Ensure journald service is enabled"
  block:
      - name: "4.2.1.2 | AUDIT | Ensure journald service is enabled | Capture status"
        ansible.builtin.shell: systemctl is-enabled systemd-journald.service
        changed_when: false
        failed_when: false
        register: ubtu22cis_4_2_1_2_status

      - name: "4.2.1.2 | AUDIT | Ensure journald service is enabled | Alert on bad status"
        ansible.builtin.debug:
            msg:
                - "Warning!! The status of systemd-journald should be static and it is not. Please investigate"
        when: "'static' not in ubtu22cis_4_2_1_2_status.stdout"

      - name: "4.2.1.2 | AUDIT | Ensure journald service is enabled | Warn Count"
        ansible.builtin.import_tasks:
            file: warning_facts.yml
        when: "'static' not in ubtu22cis_4_2_1_2_status.stdout"
  vars:
      warn_control_id: '4.2.1.2'
  when:
      - ubtu22cis_rule_4_2_1_2
  tags:
      - level1-server
      - level1-workstation
      - audit
      - journald
      - rule_4.2.1.2

- name: "4.2.1.3 | PATCH | Ensure journald is configured to compress large log files"
  ansible.builtin.lineinfile:
      path: /etc/systemd/journald.conf
      regexp: '^(#|)Compress='
      line: Compress=yes
  notify: Restart journald
  when:
      - ubtu22cis_rule_4_2_1_3
  tags:
      - level1-server
      - level1-workstation
      - patch
      - journald
      - rule_4.2.1.3

- name: "4.2.1.4 | PATCH | Ensure journald is configured to write logfiles to persistent disk"
  ansible.builtin.lineinfile:
      path: /etc/systemd/journald.conf
      regexp: '^(#|)Storage='
      line: Storage=persistent
  notify: Restart journald
  when:
      - ubtu22cis_rule_4_2_1_4
  tags:
      - level1-server
      - level1-workstation
      - patch
      - journald
      - rule_4.2.1.4

- name: "4.2.1.5 | PATCH | Ensure journald is not configured to send logs to rsyslog"
  ansible.builtin.lineinfile:
      path: /etc/systemd/journald.conf
      regexp: '^ForwardToSyslog='
      line: '#ForwardToSyslog=yes'
  notify: Restart journald
  when:
      - ubtu22cis_rule_4_2_1_5
  tags:
      - level1-server
      - level2-workstation
      - manual
      - patch
      - journald
      - rule_4.2.1.5

- name: "4.2.1.6 | PATCH | Ensure journald log rotation is configured per site policy"
  ansible.builtin.lineinfile:
      path: /etc/systemd/journald.conf
      regexp: "{{ item.regexp }}"
      line: "{{ item.line }}"
  notify: Restart journald
  loop:
      - { regexp: '^(#|\s+)SystemMaxUse=', line: "{{ ubtu22cis_journald_systemmaxuse }}" }
      - { regexp: '^(#|\s+)SystemKeepFree=', line: "{{ ubtu22cis_journald_systemkeepfree }}" }
      - { regexp: '^(#|\s+)RuntimeMaxUse=', line: "{{ ubtu22cis_journald_runtimemaxuse }}" }
      - { regexp: '^(#|\s+)RuntimeKeepFree=', line: "{{ ubtu22cis_journald_runtimekeepfree }}" }
      - { regexp: '^(#|\s+)MaxFileSec=', line: "{{ ubtu22cis_journald_maxfilesec }}" }
  when:
      - ubtu22cis_rule_4_2_1_6
  tags:
      - level1-server
      - level1-workstation
      - manual
      - patch
      - journald
      - rule_4.2.1.6

- name: "4.2.1.7 | AUDIT | Ensure journald default file permissions configured"
  block:
      - name: "4.2.1.7 | AUDIT | Ensure journald default file permissions configured | Check for override file"
        ansible.builtin.stat:
            path: /etc/tmpfiles.d/systemd.conf
        register: ubtu22cis_4_2_1_7_override

      - name: "4.2.1.7 | AUDIT | Ensure journald default file permissions configured | Set live file"
        ansible.builtin.set_fact:
            systemd_conf_file: /etc/tmpfiles.d/systemd.conf
        when: ubtu22cis_4_2_1_7_override.stat.exists

      - name: "4.2.1.7 | PATCH | Ensure journald default file permissions configured | Set permission"
        ansible.builtin.lineinfile:
            path: "{{ systemd_conf_file | default('/usr/lib/tmpfiles.d/systemd.conf') }}"
            regexp: '^z \/var\/log\/journal\/%m\/system.journal (!?06(0|4)0) root'
            line: 'z /var/log/journal/%m/system.journal 0640 root systemd-journal - -'
  when:
      - ubtu22cis_rule_4_2_1_7
  tags:
      - level1-server
      - level1-workstation
      - manual
      - patch
      - journald
      - rule_4.2.1.7
