{{ file_managed_by_ansible }}

# Discovered loaded wireless modules
{% for module in discovered_loaded_wireless_modules.files | map(attribute='path') | map('basename') | map('regex_replace', '\.ko$', '') | sort %}
install {{ module }} /bin/true
{% endfor %}
