Name: Unix authentication
Default: yes
Priority: 256
Auth-Type: Primary
Auth:
        [success=end default=ignore] pam_unix.so try_first_pass
Auth-Initial:
        [success=end default=ignore] pam_unix.so
Account-Type: Primary
Account:
        [success=end new_authtok_reqd=done default=ignore] pam_unix.so
Account-Initial:
        [success=end new_authtok_reqd=done default=ignore] pam_unix.so
Session-Type: Additional
Session:
        required pam_unix.so
Session-Initial:
        required pam_unix.so
Password-Type: Primary
Password:
        [success=end default=ignore] pam_unix.so obscure{% if ubtu22cis_rule_5.3.3.4.4 %} use_authtok{% endif %} try_first_pass{% if ubtu22cis_rule_5.3.3.4.3 %} {{ ubtu22cis_passwd_hash_algo }}{% endif %}
Password-Initial:
        [success=end default=ignore] pam_unix.so obscure{% if ubtu22cis_rule_5.3.3.4.3 %} {{ ubtu22cis_passwd_hash_algo }}{% endif %}
